html, body, ul, li, * {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1A75C1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul li a img {
    margin-right: 10px;
}
header a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #EFF3F8;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline;
}

aside {
    background-color: rgb(255, 255, 255);
}


/* ---------Home DBC--------- */

.menu li:last-child {
    margin-right: 30px;
}
.menu li:first-child {
    margin-left: 30px;
}

.searchBar {
    all: unset;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: 400px;
    padding-left: 10px;
    background-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(240deg);
}

.dataPicker {
    outline: none;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: 170px;
    padding-left: 10px;
    color: darkgray;
}

.searchBar::placeholder {
   color: darkgray;
}

.headerrigth, .headerleft {
    margin: 10px;
}

.headerleft .logo {
    height: 25px;
    margin: 0 0 0 20px;
}

.headerleft {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.headerleft div{
    margin-top: 5px;
}

.headerleft a {
    margin: 0 80px 0 0;
}

.headerleft .pesquisar {
    height: 20px;
}

.headerleft .filtrar {
    height: 20px;
    margin: 0 10px;
}
.headerleft div:nth-child(3) {
    position: relative;
    background-color: white;
    margin: 0 10px;
}

.headerrigth .avatar{
    height: 25px;
    margin: 0;
}

.headerrigth .menu{
    height: 25px;
    margin: 0 20px 0 0;
}

.news img {
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.new1, .new2, .new3, .new4, .new5, .new6, .new7, .new8, .new9 {
    background-color: white;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
}

.news .row1 {
    text-align: center;
    margin: 20px 0;
}

.news .row8 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.news .row8 {
    text-align: center;
    margin: 20px 0;
}

.news .row2, .news .row4, .news .row6 {
    margin: 5px 0px 5px 10px;
}

.news .row3, .news .row5, .news .row7 {
    display: flex;
    flex-wrap: wrap;
}

.news p{
    font-weight: bold;
    text-align: center;
}

.birthdays .row1 {
    margin: 40px 0 10px 20px;
}

.birthdays .row2 h5{
    margin: 0 0 10px 20px;
}

.birthday1 img {
    width: 70px;
}

.birthday1 .row1:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.birthday1 .column1 {
    margin-left: 20px;
}

.birthday1 .column2 {
    margin-left: 10px;
}

.birthdays .row3 .row1 .column3 {
    margin: 40px 20px 0 0;
}

.birthdays {
    color: #1A75C1;
}

.news h1, small {
    color: #1A75C1;
}

.birthdays input[type=submit] {
    all: unset;
    text-align: center;
    padding: 4px 10px;
    width: 130px;
    background-color: #1A75C1;
    color: white;
    border: 1px solid #1A75C1;
    border-radius: 20px;
}

.birthdays input[type=submit]:hover {
    background-color: white;
    color: #1A75C1;
}

.birthdays input[type=text] {
    outline: none;
    padding-left: 20px;
    background-color: #ffffff;
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #9c9c9c;
}

.birthdays input[type=text]:hover {
    border: 1px solid #1A75C1;
}

.birthdays .row4 {
    margin: 24px 24px;
}

.birthdays .row5 {
    background-color: #1A75C1;
    height: 2px;
    margin: 10px 24px;
}

.birthdays .row6 {
    margin: 10px 0 10px 48px;
}

.nextBirthday {
    text-align: center;
    margin: 60px 0 0 0;
}

.nextBirthday a {
    all: unset;
    background-color: #1A75C1;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid #1A75C1;
}

.nextBirthday a:hover {
    background-color: #ffffff;
    color: #1A75C1;
}

.events .row1 h3{
    color: #1A75C1;
    margin: 20px 0 2px 20px;
}

.events .row1 .eventosImg {
    width: 500px;
    margin: 5px 20px 30px 20px;
}