html, body, * {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #EFF3F8;
}

footer {
    height: 50px;
    background-color: white;
}

footer nav {
    text-align:  center;
    padding-top: 15px;
}

footer ul li {
    display: inline;
}

footer nav ul li a{
    text-decoration: none;
    color: black;
}

footer nav ul li a img{
    padding-right: 5px;
}

footer li {
    margin-right: 120px;
}

footer li {
    margin-right: 120px;
}

footer ul li:nth-child(6) {
    margin-right: 0px;
}

header {
    height: 50px;
    background-color: #1A75C1;
}


header div img.logo {
    margin-top: 10px;
    width: 80px;
}

header div span.pesquisarData {
    position: absolute;
}

header div span input.searchBar {
    all: unset;
    margin-left: 70px;
    margin-top: 10px;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: 400px;
    padding-left: 10px;
    background-color: white;
}


header div span input.searchBar::placeholder {
   color: darkgray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(240deg);
}

header div span img.iconPesquisar {
    position: absolute;
    margin-top: 15px;
    margin-left: 450px;
}

header div span input.dataPicker {
    outline: none;
    margin-left: 6px;
    margin-top: 10px;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: 200px;
    padding-left: 10px;
    color: darkgray;
}


header div span.login {
    margin-top: 10px;
    float: right;
}

header div span img.avatar {
    width: 25px;
}

header div span.filtrar img{
    margin-top: 15px;
    margin-left: 10px;
    height: 20px;
    position: absolute;
}

header div span img.menu {
    width: 25px;
}

.divLateral{
    position:relative;
    width:550px;
    float: left;
    background-color: white;
  }

.divPrincipal{
    position: relative;
    width:650px;
    left:0px;
    float: left;
  }

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.group {
   zoom: 1;
}

.birthdays {
    color: #1A75C1;
    margin-top: 60px;
    width: auto;
    margin-left: 30px;
}

.birthdays .br {
    margin-top: 8px;
    margin-bottom: 18px;
    width: 490px;
}

.birthday small {
    font-weight: bold;
}

.birthdays h2, h4{
    margin-left: 32px;
    margin-bottom: 18px;
}

.hoje {
    margin-left: 32px;
    margin-bottom: 18px;
}

.lateralBirthday {
    position: relative;
    right:200px;
    float: right;
    margin-top: 10px;
}

.birthdays input[type=submit] {
    all: unset;
    background-color: #1A75C1;
    color: white;
    width: 130px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #1A75C1;
    position: absolute;
    margin-left: 180px;
    margin-top: 0px;
}

.birthdays input[type=submit]:hover {
    background-color: #ffffff;
    color: #1A75C1;
    border: 1px solid #1A75C1;
}

.birthdays input[type=text] {
    margin-top: 24px;
    margin-bottom: 24px;
    outline: none;
    padding-left: 20px;
    background-color: #ffffff;
    width: 490px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #9c9c9c;
}

.birthdays input[type=text]::placeholder {
    color: rgb(163, 163, 163);
    font-weight: bold;
}

.proximosBirthday {
    text-align: center;
}

.proximosBirthday a {
    all: unset;
    background-color: #1A75C1;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid #1A75C1;
}

.proximosBirthday a:hover {
    background-color: #ffffff;
    color: #1A75C1;
}

.eventosImg {
    width: 85%;
    margin: 4px 10px 10px 24px;
}

.events h3 {
    color: #1A75C1;
    margin-left: 24px;
    font-size: 25px;
}