html, body, * {
    margin: 0;
    padding: 0;
}

ul, li {
    display: inline;
}

li {
    margin-right: 5px;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    background-color: aqua;
}

footer {
    background-color: brown;
}