html, body, * {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    background-color: dimgray;
}

footer {
    background-color: dimgray;
}

.logo {
    border-radius: 100%;
}

.menuConteudo .menuP3 {
    list-style: none;
    padding-top: 15px;
}

.menuConteudo li {
    margin-right: 20px;
}


.menuConteudo .menuP1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menuConteudo ul li {
    display: inline;
}

.menuConteudo ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menuConteudo ul li a:hover {
    color: #dbdbdb;
    border-bottom:3px solid #ffffff;
}

.navegadorHome .homeLi {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
}

.navegadorSobre .sobreLi {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
}

.navegadorContato .contatoLi {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
}

.menuConteudo div {
    display: inline-block;
}

.menuP3 {
    float: right;
}

.menuP2 {
    position: absolute;
    padding-top: 16px;
    padding-left: 10px;
    padding-bottom: 15px;
    color: white;
}


header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

.footerConteudo ul li {
    display: inline;
}

.footerConteudo li {
    margin-left: 10px;
}

.footerConteudo {
    color: white;
    text-align: center;
}

.footerConteudo ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footerConteudo ul li a:hover {
    border-bottom:3px solid #ffffff;
}



/* ------------- CSS da pagina Home ------------- */


.conteudoPrincipal h1{
    text-align: start;
    padding: 8px 0px 8px 40px;
}
.conteudoPrincipal .container {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.conteudoPrincipal p {
    padding: 16px 40px 48px 40px;
    font-size: 20px;
    text-align: justify;
}

table {
    width: 100%;
    height: 100px;
}

td, tr {
    align-items: center;
    text-align:center;
}

.imagens img {
    border-radius: 100%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imagens img:hover {
    box-shadow: rgb(255, 4, 4) 0px 3px 6px, rgb(255, 4, 4) 0px 3px 6px;
}

.mapa .container{
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mapa .container h3{
    text-align: c;
    padding: 16px 0px 8px 40px;
}

.mapa .iframeMapa {
    text-align: center;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 40px;
}

.mapa .iframeMapa iframe{
    width: 720px;
    height: 480px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.mapa .iframeMapa iframe:hover {
    box-shadow: rgba(75, 75, 75, 0.16) 0px 3px 6px, rgb(75, 75, 75) 0px 3px 6px;
}

/* ------------- CSS da pagina Sobre ------------- */

.sobreDBC .container{
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sobreDBC h1 {
    padding: 16px 40px 0px 40px;
}

.sobreDBC .p1 {
    padding: 16px 40px 8px 40px;
    font-size: 20px;
    text-align: justify;
}

.sobreDBC .p2 {
    padding: 16px 40px 32px 40px;
    font-size: 20px;
    text-align: justify;
}

.sobreDBC .iframeVideo {
    text-align: center;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 40px;
}

.sobreDBC .iframeVideo iframe {
    width: 720px;
    height: 480px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* ------------- CSS da pagina Contatos ------------- */

.contatoDBC .container{
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contatoDBC .formulario {
    padding: 16px 150px 32px 150px;
    font-size: 20px;
    text-align: justify;
}

#nome {
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#email {
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#question {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#mensagem {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
}

.enviarFomulario {
    text-align: start;
}

#enviar {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: dimgray;
    padding: 5px 30px;
}

#enviar:hover {
    background-color: rgb(65, 65, 65);
}